/* CSS */
body {}

/* "Logo" */
h1.logo {
  font-family: "codel";
  text-align: center;
  font-size: 22pt;
  margin: 0;
}
h1.logo span.glyphicon {
  margin-right: 10px;
  font-size: 18pt;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 6000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 6000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 6000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.btn-primary a {
  color: #FFF;
  text-decoration: none;
}

h1.logo span.color {
  font-family: "codeb";
}

h1.logo.lg {
  padding-top: 120px;
  font-size: 72pt;
  color: #FFF;
}
h1.logo.lg span.glyphicon {
  font-size: 54pt;
}
@media (max-width: 981px) {
  h1.logo.lg {
    padding-top: 80px;
    font-size: 22pt;
  }
  h1.logo.lg span.glyphicon {
    font-size: 18pt
  }
}

/* Select */
.select2-container {
  width: 100% !important;
}

/* Button */
.btn-primary {
  width: 100%;
}

/* Vertical Spacing */
.vspace-1 {
  margin-bottom: 15px;
}
.vspace-2 {
  margin-bottom: 25px;
}
.vspace-3 {
  margin-bottom: 35px;
}

/* Form stuff */
textarea.form-control {
  max-width: 100%;
  height: 120px;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background: #DADADA;
}

.copybox pre {
  min-height: 200px;
}
.copybox .placeholder {
  color: #A2A2A2;
}

/* Toolbar */
.dl a {
  text-decoration: none;
  color: #FFF;
}

.loader,
.loader:before,
.loader:after {
  background: #FFF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: .75em;
  height: 3em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 1em auto;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}


.btn-group-justified .glyphicon {
  margin-right: 10%;
}

footer {
  height: 400px;
  background: url(img/ptrn2.png);
}
@media (max-width: 981px) {
  footer {
    height: 200px;
  }
}